@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "../../Assets/global.module.scss";

.category_container {
    @include custom_size(100% , 15rem , null);
    @include display(row,center,null);

    .category_sec {
        @include custom_size(100% , 100% , $screen_width);
        @include display (column , center, null);

        .category_title {
            @include custom_size(100% , 25% , null);
            @include display(row,null,center);
            font-family: "Roboto";
            font-size: 1.3rem;
            color: $nav_color;
            cursor: pointer;

            h3 {
                margin: 0;
            }
        }

        .category_content {
            @include display (row , space-between, center);
            @include custom_size(100% , 75% , null);
        }
    }
}