@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "../../Assets/global.module.scss";

.container {
    @include custom_size(100%, 25rem , null);
    background-color: $nav_color;
    @include display(row,center,null);

    .content {
        @include custom_size(100%, 100% , $screen_width);
        @include display(column, null , center);

        .category_title {
            @include custom_size(100%, 5rem , null);
            @include display(row,space-between, center );
            font-family: "Roboto";

            h3 {
                color:$black;
                font-size: 1.5rem;
                margin: 0;
            }

            .view_all_button {
                @include custom_size(8rem, 2rem , null);
                @include white_button(null);
                border: 1px solid rgb(146, 146, 146);
                font-size: 1rem;
            }

        }
        .category_items {
            @include custom_size(100%, 22rem , null);
            @include display(row, space-between, center);
            gap: 1.5rem;
        }
    }
}